.card{
    border: 1px solid rgba(180, 149, 149, 0.188);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(54, 52, 52, 0.202);
    padding: 20px;
    margin: 10px;
    text-align: left;
    max-width: width 250px;
    display: inline-block
  }
  
.card img{
    max-width: 25%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.card h2{
    font-family: Arial, sans-serif;
    margin: 0;
    color:rgb(11, 10, 10);
}

.card p{
    font-family: Arial, sans-serif;
    color:rgb(186, 186, 48);
}